@use 'helpers' as *;

body{
  @include fluid-text(20, 18);

  font-family: var(--font-family-base), sans-serif;
  line-height: 120%;
  color: var(--color-dark);
  background-color: var(--color-light);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}