@use 'helpers' as *;

body{
  @include fluid-text(20, 18);

  font-family: var(--font-family-base), sans-serif;
  line-height: 120%;
  color: var(--color-dark);
  background-color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-accent), sans-serif;
  font-weight: 400;
}

h1{
  @include fluid-text(60, 36);

  line-height: 110%;
}

h2{
  @include fluid-text(54, 36);

  line-height: 120%;

  @include mobile{
    line-height: 110%;
  }
}

h3{
  @include fluid-text(36, 28);

  line-height: 135%;
}

h4{
  @include fluid-text(22, 16);

  line-height: 110%;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

